body {
	background: none repeat scroll 0 0 $white;
	font-family: $primaryFont;
	font-size: rem-calc(12);
	box-sizing: border-box;
	
	* {
		box-sizing: border-box;
	}
	// IOS SAFE AREA
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	padding-bottom: env(safe-area-inset-bottom);
}

.main {
	background: $white;
	padding-top: $headerHeightMobile;
	position: relative;

	@include breakpoint(tab) {
		padding-top: $headerHeight;
	}

	.header.-isTransparent.-home ~#root & {
		padding-top: 0;
	}

	&.-checkout {
		padding-top: 0;
	}
}

a {
	color: $black;
	outline: medium none;
	overflow: hidden;
	text-decoration: none;
}

fieldset {
  min-width: min-content;
	border: 0 none;
	margin: 0;
	padding: 0;
}

.hideDesktop {
	@include breakpoint(m) {
		display:none !important;
	}
}

.hideMobile {
	@include breakpoint(m, max-width) {
    display: none !important;
  }
}

@include breakpoint(m, max-width) {
	.showDesktop {
		display: none !important;
	}
}

@include breakpoint(m) {
	.showMobile {
		display: none !important;
	}
}

.clearboth{
	width: 100%;
	clear: both;
	display: block;
}

.lasttimecached {
  display: none;
}

iframe {
	border-style: none;
}